<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Create a Custom MadLibs!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Fill in the form to create your custom Mad Lib!</h1>
    <form action="/princess-mad-lib" method="post">
      <label for="adjective-one">Adjective</label>
      <input id="adjective-one" name="adjectiveOne" type="text">
      <label for="name">Name</label>
      <input id="name" name="name" type="text">
      <label for="number">Number</label>
      <input id="number" name="number" type="text">
      <label for="relative">Relative Type</label>
      <input id="relative" name="relative" type="text">
      <label for="firstLocation">First Location</label>
      <input id="firstLocation" name="firstLocation" type="text">
      <label for="secondLocation">Second Location</label>
      <input id="secondLocation" name="secondLocation" type="text">
      <button type="submit">Go!</button>
    </form>
  </body>
</html>